<a ui-sref="home">Home</a> &lt;
<a ui-sref="categories">List</a>

<br><br>

<span class="title"> ItemDetails For Item -  {{ itemDetail.name }} </span><br>
<div>Item Id: {{ itemDetail.id }}</div>
<div>Item Name: {{ itemDetail.name }}</div>
<div>Item Short_name: {{ itemDetail.short_name }}</div>
<div>Item Large_portion_name: {{ itemDetail.large_portion_name }}</div>
<div>Item Price_large: {{ itemDetail.price_large }}</div>
<div>Item Price_small: {{ itemDetail.price_small }}</div>
<div>Item Small_portion_name: {{ itemDetail.small_portion_name }}</div>
<div>Item Description: {{ itemDetail.description }}</div>
